@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

li {
  list-style: none;
}

body {
  font-size: 1rem;
}

.d-flex {
  display: flex;
}

.text-center {
  text-align: center;
}

#search-city-form {
  border: 1px solid green;
  margin: 10rem auto;
  width: 50%;
}