@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body { 
 
}
